.profile-customer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;

  .tab {
    float: left;
    background-color: #f1f1f1;
    width: 22%;
    height: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    min-height: 800px;

    .customer-name {

      min-height: 60px;

      .customer-name-left {
        float: left;
        width: 17%;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 2%;;

        .span-name-left {
          text-align: center;
          border-radius: 50%;
          padding: 10px 0;
          width: 50px;
          height: 50px;
          border: #5ABF64 solid 2px;
          display: block;
          font-size: 1.5em;
          font-weight: 600;
        }
      }

      .customer-name-right {
        float: left;
        width: 76%;
        margin-top: 5%;

        .span-name-right {
          font-size: 1em;
        }
      }
    }

    .tablinks-left {
      background-color: white;
      margin: 0 0 0 2%;
      min-height: 705px;

      .tablinks {
        display: block;
        background-color: inherit;
        color: black;
        border-radius: 10px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 1em;

        .tablinks-icon {
          display: block;
          width: 45px;
          height: 45px;
          margin: 1% 0px 0px -17%;
          float: left;
          margin-right: 8%;
          background-color: white;
          border-radius: 65%;
          border: #5ABF64 solid 2px;
        }

        .tablinks-name {
          width: 80%;
          margin-left: 22%;
        }

      }

      .tablinks:hover {
        background-color: #ddd;
      }

      .tablinks.active {
        background-color: #5ABF64;
      }

    }
  }

  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 7px;
    background-color: rgb(241, 241, 241);
    width: 78%;
    min-height: 800px;
    border-left: none;
    //height: 600px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    .tabcontent-header {
      background-color: #f1f1f1;
      min-height: 60px;
      width: 80%;
      margin: 0 auto;

      .tabcontent-header-steps {
        float: left;
        text-align: center;
        width: 30%;
        line-height: 60px;

        .step-one {
          padding: 7px 12px;
          background-color: #5ABF64;
          border-radius: 50%;
          color: white;
          cursor: pointer;
        }
      }
    }

    .tabcontent-sub {
      .warehouse-receiving {
        background-color: white;
        min-height: 180px;
        //margin-left: -9px;

        .warehouse-receiving-p {
          font-size: 15px;
          font-weight: 600;
          margin-left: 2%;
          padding-top: 1%;
          float: left;
        }

        .warehouse-receiving-close {
          background-color: white;
          padding: 0px 7.5px;
          float: right;
          margin-top: 1%;
          margin-right: 1%;
          border: 3px solid #5ABF64;
          border-radius: 50%;
          color: #5ABF64;
          outline: none;
        }

        .warehouse-receiving-close:hover {
          background-color: #5ABF64;
          color: white;
        }

        .info-warehouses {
          min-height: 168px;
          clear: both;

          .info-warehouse-detail {
            width: 27%;
            background-color: #f1f1f1;
            margin-left: 4.8%;
            float: left;
            margin-top: 1.5%;

          }
        }


        .warehouse-receiving-bts {
          margin: 0 auto;
          clear: both;

          .warehouse-receiving-bt {
            background-color: white;
            padding: 0px;
            width: 24%;
            height: 39px;
            font-size: 14px;
            border: 3px dashed #5ABF64;
            border-radius: 10px;
            outline: none;
            float: left;
            margin-left: 11%;
          }

          .warehouse-receiving-bt:hover {
            background-color: #5ABF64;
            color: white;
          }


        }
      }

      .point-delivery {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;

        .point-delivery-button {
          background-color: #3fa9497d;
          color: white;
          font-size: 1rem;
          padding: 9px;
          width: 30%;
          border: 1px solid #5ABF64;
          border-radius: 10px;
          outline: none;
          cursor: not-allowed;
        }
      }

      .services-packages {
        min-height: 350px;
        // margin-left: -9px;
        margin-top: 1%;

        .services {
          width: 40%;
          background-color: white;
          float: left;
          margin-right: 1%;
          min-height: 350px;
          justify-content: center;
          align-items: center;
          display: flex;

          .services-bt {
            background-color: white;
            padding: 10px;
            width: 57%;
            height: 164px;
            font-size: 18px;
            border: 3px dashed #5ABF64;
            border-radius: 10px;
            outline: none;
            float: left;

            .services-button-add {
              background-color: #5ABF64;
              color: white;
              padding: 10px;
              width: 72%;
              border: 1px solid #5ABF64;
              border-radius: 10px;
              outline: none;
              margin-left: 14%;
              margin-top: 20px;
              font-size: 1rem;
            }

          }


        }

        ::-webkit-scrollbar {
          width: 1px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }

        .services-select {
          width: 40%;
          background-color: white;
          float: left;
          margin-right: 1%;
          min-height: 350px;

          .service-ul {
            width: 90%;
            list-style: none;
            padding: 0;
            height: 11rem;
            overflow-y: auto;
            margin: 0px 5% 0px 5%;


          }


          .service-ul li {
            font-size: 18px;
          }

          .service-select-bt-close {
            background-color: white;
            padding: 0px 7.2px;
            float: right;
            margin-top: 3%;
            margin-right: 1%;
            border: 3px solid #5ABF64;
            border-radius: 50%;
            position: relative;
            top: -50px;
            right: 2%;
            color: #5ABF64;
            outline: none;
          }

          .service-select-bt-close:hover {
            background-color: #5ABF64;
            color: white;
          }

          .services-select-div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 11%;

            .service-select-bt-save {
              background-color: #5ABF64;
              color: white;
              padding: 5px;
              width: 20%;
              font-size: 18px;
              border: 1px solid #5ABF64;
              border-radius: 10px;
              outline: none;
            }
          }
        }


        .services-selected {
          width: 40%;
          background-color: white;
          float: left;
          margin-right: 1%;
          min-height: 350px;

          .service-ul {
            width: 90%;
            list-style: none;
            padding: 0;
            height: 12rem;
            overflow-y: scroll;
            margin: 0px 2% 0px 7%;

          }

          .service-ul li {
            font-size: 1rem;

            .li-p {
              float: left;
              width: 44%;
              font-size: 1rem;
            }
          }

          .service-select-bt-addd {
            background-color: white;
            padding: 0px 7px;
            float: right;
            margin-top: 12px;
            margin-right: 1%;
            border: 3px solid #5ABF64;
            border-radius: 50%;
            position: relative;
            top: -50px;
            right: 2%;
            color: #5ABF64;
            outline: none;
          }

          .service-select-bt-close:hover {
            background-color: #5ABF64;
            color: white;
          }

        }

        .packages {
          width: 59%;
          background-color: white;
          float: left;
          min-height: 350px;
          justify-content: center;
          align-items: center;
          display: flex;

          .packages-bt {
            background-color: white;
            padding: 10px;
            width: 38.66%;
            height: 163.99px;
            font-size: 18px;
            border: 3px dashed #5ABF64;
            border-radius: 10px;
            outline: none;
            float: left;

            .packages-button {
              background-color: #5ABF64;
              color: white;
              padding: 10px;
              width: 57%;
              font-size: 18px;
              border: 1px solid #5ABF64;
              border-radius: 10px;
              outline: none;
              margin-left: 23%;
              margin-top: 20px;
            }
          }
        }

        .packages-selected {
          width: 59%;
          background-color: white;
          float: left;
          min-height: 350px;

          .packages-selected-add {
            background-color: white;
            padding: 0px 7px;
            float: right;
            margin-top: 12px;
            margin-right: 1%;
            border: 3px solid #5ABF64;
            border-radius: 50%;
            position: relative;
            top: -50px;
            right: 2%;
            color: #5ABF64;
            outline: none;
          }

          .packages-selected-add:hover {
            background-color: #5ABF64;
            color: white;
          }

          ::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #888;
          }

          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .list-package {
            width: 100%;
            margin-top: -29px;
            display: inline-block;
            height: 17rem;
            overflow: auto;


            .item-packagess {
              width: 45%;
              height: 8rem;
              border: 1px solid #7e7d7d;
              border-radius: 10px;
              float: left;
              margin-left: 2.8%;
              margin-right: 1.5%;
              margin-bottom: 0.5rem;
              position: relative;

              .item-package-name {
                width: 90%;
                margin: 0 auto;
                margin-top: 10px;
                height: 12px;

                .item-package-name-left {
                  font-size: 0.7rem;
                  float: left;
                }

                .item-package-name-right {
                  font-size: 0.7rem;
                  float: right;
                }
              }

              .bt-close {
                outline: none;
                border-radius: 50%;
                position: absolute;
                border: 2px solid #5ABF64;
                display: none;
                top: 44%;
                left: 36%;

                .abc {
                  font-size: 21px;
                }
              }

              .bt-close:hover {
                color: white;
                background-color: #5ABF64;
              }

              .bt-update {
                outline: none;
                border-radius: 50%;
                position: absolute;
                border: 2px solid #5ABF64;
                display: none;
                top: 44%;
                left: 55%;

                .abc {
                  font-size: 21px;
                }
              }

              .bt-update:hover {
                color: white;
                background-color: #5ABF64;
              }
            }

            .item-packagess:hover {
              background-color: #f1f1f1;
              cursor: pointer;
            }

            .item-packagess:hover > .bt-close {
              display: block;
            }

            .item-packagess:hover > .bt-update {
              display: block;
            }
          }
        }
      }
    }
  }

  //.active {
  //  display: block;
  //}
  //
  //.deactive {
  //  display: none;
  //}

}

.button-close-modal-add-package {
  background-color: white;
  padding: 0px 8px;
  margin-top: 0%;
  margin-right: 1%;
  border: 3px solid #5ABF64;
  border-radius: 50%;
  color: #5ABF64;
  outline: none;
  margin-bottom: -17px;
}

.button-close-modal-add-package:hover {
  background-color: #5ABF64;
  color: white;
}

.btn-save-new-package {
  background-color: #5ABF64;
  color: white;
  width: 16%;
  padding: 6px;
  font-size: 18px;
  border: 1px solid #5ABF64;
  border-radius: 10px;
  outline: none;
}

div.searchable {
  width: 100%;
  position: relative;
  float: left;

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.searchable input {
  width: 100%;
  height: 40px;
  font-size: 1em;
  /* position: relative; */
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
}

.searchable input::-webkit-input-placeholder {
  font-size: 14px;
}

.searchable ul {
  display: none;
  position: absolute;
  width: 100%;
  list-style-type: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #add8e6;
  border-top: none;
  max-height: 180px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  z-index: 1;
}


.searchable ul li {
  padding: 7px 9px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  color: #6e6e6e;
}

.searchable ul li:hover {
  background-color: #e8e8e8;
  color: #333;
}

.searchable ul li.selected {
  background-color: #e8e8e8;
  color: #333;
}